.contact .ContactForthSec {
  height: 80vh;
  background: url("../../../img/contact/gaia.png");
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  justify-content: left;
  align-items: center;
}

.contact .ContactForthSec .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

}

.contact .ContactForthSec .container .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0009;
  flex: 0.6;
  padding: 20px 0 20px 20px;
  height: 90%;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-family: "MarkPro";
}

.contact .ContactForthSec .container .text-container div {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact .ContactForthSec .container .text-container * {
  width: fit-content;
  height: fit-content;
}

.contact .ContactForthSec .container .text-container h1 {
  font-size: 50px !important;
  font-weight: 100;
  font-family: "Kepler Std";
}

.contact .ContactForthSec .container .text-container .btn {
  background: #356a4c;
  color: #fff;
}
