.hero {
  height: 78vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .swiper-slide {
  flex: 0.6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .home-text {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  margin: auto;
  height: 100%;
}
.hero .home-text * {
  width: 75%;
}

.hero .heading {
  
  font-size: 70px;
  /* Adjust as needed */
  color: #fff;
  font-family: "SaudiaSB", sans-serif;
  font-weight: lighter;
}

.hero .heading-2 {
  font-size: 1.2rem;
  /* Adjust as needed */
  font-weight: 400;
  color: #fff;
  letter-spacing: 1.1px;
  font-family: "MarkPro", sans-serif;
  margin-bottom: 1.5rem;
}

.btn {
  width: fit-content !important;
  border-radius: 5px;
  padding: 0.9rem 2rem;
  background: #fff;
  color: #205c40;
  border-radius: none;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: "MarkPro", sans-serif;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #418062;
  color: #fff;
}