.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .swiper-slide {
  flex: 0.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.hero .home-text {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero .heading {
  font-size: 60px;
  color: #fff;
  font-family: "SaudiaSB", sans-serif;
  font-weight: 100;
}

.hero .heading-2 {
  font-size: 16px;
  font-weight: 400;
  width: 80%;
  color: #fff;
  font-family: "MarkPro", sans-serif;
}

.btn {
  width: fit-content !important;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  background: #fff;
  color: #205c40;
  border-radius: none;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-family: "MarkPro", sans-serif;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #418062;
  color: #fff;
}
