@font-face {
  font-family: "Kepler Std";
  src: url("../../../fonts/kepler-std-3-cdnfonts/KeplerStdMedium.otf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "MarkPro";
  src: url("../../../fonts/MARKPROLIGHT.OTF"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "Afterglow";
  src: url("../../../fonts/Afterglow-Regular.ttf");
}

.hero {
  height: 78vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden;
  display: flex;
}

.swiper-slide {
  width: 50% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.control-div {
  height: 70%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text {
  background: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 85%;
  border-radius: 20px;
  overflow: hidden;
}

.home-text * {
  width: 80%;
}

.home-text .heading {
  font-size: 48px;
  font-weight: lighter;
  color: #fff;
  font-family: "Afterglow";
}

.home-text .heading-2 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1.1px;
  font-family: "MarkPro";
}

.btn {
  padding: 0.9rem 3rem;
  width: fit-content;
  background: #fff;
  color: #205c40;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: "MarkPro";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.btn:hover {
  background: #418062;
  transition: 0.3s ease;
  color: #fff;
}
