@font-face {
  font-family: "Kepler Std";
  src: url("../../fonts/kepler-std-3-cdnfonts/KeplerStdMedium.otf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "MarkPro";
  src: url("../../fonts/MARKPROLIGHT.OTF"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

.About {
  width: 100%;
  overflow: hidden;
  font-family: "Kepler Std";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.About .ninth-sec {
  background-position: bottom !important;
  background-size: cover !important;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .ninth-sec .glass {
  background: transparent;
  opacity: 1;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .ninth-sec .container {
  height: 50%;
  flex: 0.5 !important;
  justify-content: center;
  align-items: center;
}

.About .ninth-sec .container .text-div {
  background: #0009;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 65%;
  height: 85%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.About .ninth-sec .container .text-div * {
  width: 95%;
  line-height: 1.5;
  font-family: "Kepler Std";
}

.About .ninth-sec .container .text-div :first-child {
  display: none;
}
