.contact {
  overflow: hidden;
  font-family: "SaudiaSB";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.contact .ninth-sec {
  background-position: bottom !important;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .ninth-sec .glass {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .ninth-sec .container {
  background: #0009;
  flex: 1 !important;
  height: 100% !important;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact .ninth-sec .container .text-div {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 60%;
  margin-bottom: 25px;
}

.contact .ninth-sec .container .text-div :first-child {
  display: none;
}

.ninth-sec .container .text-div p {
  font-size: 16px;
  font-weight: 200;
}

.contact .ninth-sec .container {
  flex: 0.5;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .ninth-sec .container .text-div * {
  width: 85%;
  opacity: 1;
  color: #fff;
}

.contact .ninth-sec .container .text-div .h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Kepler Std";
  color: #fff;
}

.contact .ninth-sec .container .text-div :first-child {
  display: none;
}

.contact .third-sec {
  background: #fff;
}

.contact .third-sec .container {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #eaefec;
}

.contact .third-sec .container .left-div {
  background-position: center !important;
  background-size: cover !important;
  flex: 0.5;
  border-radius: 0;
}

.contact .third-sec .container .right-div-container {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .third-sec .container .right-div {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact .tittle {
  font-size: 36px;
  font-family: "Kepler Std";
  font-weight: normal;
  color: #16402d;
}

.contact .paragraph {
  font-size: 16px;
  line-height: 26px;
  font-family: "MarkPro";
  font-weight: 500;
  color: #000000;
}

.contact ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.4;
}
.contact ul li {
  width: 100%;
}

.contact .contact-third-link {
  text-decoration: none;
  color: green;
  font-weight: 900;
  font-size: 16px;
  font-family: "MarkPro";
}
