@font-face {
  font-family: "MarkPro";
  src: url("../../fonts/MARKPROMEDIUM.OTF") !important;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background: #fcfbf9;
  box-shadow: 0 5px 16px #0000000a;
  transition: 0.5s;
  overflow: hidden;
  position: fixed;
  z-index: 1111;
  transition: top 0.25s ease-in-out, margin 0.25s ease-in-out,
    background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  height: 140px;
}

.Header .container {
  flex: 0.8;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-1-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
  height: 100%;
}

.logo-link {
  flex: 0.2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link img {
  width: 100px;
}

.Header .navbar {
  flex: 0.7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #205c40;
}

.Header nav ul {
  flex: 0.8;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: red;
}

.Header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-bottom: 2px solid transparent;
}

.link {
  color: #000;
  border-bottom: 2px solid transparent;
  cursor: default;
  font-family: "MarkPro";
  font-weight: 900;
  font-size: 14px;
}

.link:hover {
  border-bottom: 2px solid #b0603b;
}

.link span {
  font-weight: 100;
}

.profile-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 0.2;
  height: 100%;
}

.profile-div .icon-Link {
  flex: 0.2;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div .icon {
  cursor: pointer;
  font-size: 23px;
  color: #205c40;
}

.profile-div .icon:hover {
  opacity: 0.8;
}
