.Products {
  overflow: hidden;
  font-family: "SaudiaSB";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.Products .ninth-sec {
  background-position: bottom !important;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .glass {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .container {
  background: #0009;
  flex: 1 !important;
  height: 100% !important;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Products .ninth-sec .container .text-div {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 60%;
  margin-bottom: 25px;
}

.Products .ninth-sec .container .text-div :first-child {
  display: none;
}

.ninth-sec .container .text-div p {
  font-size: 16px;
  font-weight: 200;
}

.Products .ninth-sec .container {
  flex: 0.5;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .container .text-div * {
  width: 85%;
  opacity: 1;
  color: #fff;
}

.Products .ninth-sec .container .text-div .h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Kepler Std";
  color: #fff;
}

.ContactForthSec .container .text-div .btn {
  background: #356a4c;
  color: #fff;
}
