@font-face {
  font-family: "Kepler Std";
  src: url("../../fonts/kepler-std-3-cdnfonts/KeplerStdMedium.otf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "MarkPro";
  src: url("../../fonts/MARKPROLIGHT.OTF"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "Afterglow";
  src: url("../../fonts/Afterglow-Regular.ttf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

.Products {
  width: 100%;
  overflow: hidden;
  font-family: "Kepler Std";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.Products .ninth-sec .container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Products .ninth-sec .container .text-div {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 70%;
}

.ninth-sec .container .text-div p {
  font-size: 16px;
}

.Products .ninth-sec {
  background-position: bottom !important;
  background-size: cover !important;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
