@font-face {
  font-family: "Kepler Std";
  src: url("../../fonts/rift/Rift\ Medium.otf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "MarkPro";
  src: url("../../fonts/MARKPROLIGHT.OTF"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

@font-face {
  font-family: "Afterglow";
  src: url("../../fonts/rift/Rift\ Medium.otf"); /* Check the path to the font file */
  /* Add additional src lines for other font weights/styles if needed */
}

.Products {
  overflow: hidden;
  font-family: "Kepler Std";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.Products .ninth-sec {
  background-position: center !important;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .glass {
  background: rgba(255, 255, 255, 0.4);
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .container {
  flex: 0.5 !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .container .text-div {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
}

.Products .ninth-sec .container .text-div :first-child {
  display: none;
}

.ninth-sec .container .text-div p {
  font-size: 16px;
  font-weight: 200;
}

.Products .ninth-sec .container {
  flex: 0.5;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .ninth-sec .container .text-div * {
  width: 85%;
  opacity: 1;
  color: #16402d;
}

.Products .ninth-sec .container .text-div .h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Kepler Std";
  color: #16402d;
}

.ContactForthSec .container .text-div .btn {
  background: #356a4c;
  color: #fff;
}
