.App {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.page-div {
  flex: 0.8;
}

/* In your App.css or another CSS file */
.page-div {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.page-div.exiting {
  opacity: 0;
}

