@font-face {
  font-family: "Rift";
  src: url("../../../fonts/rift/Rift\ Bold.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.About .Forth-Sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.About .Forth-Sec .third-sec {
  background: none;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .Forth-Sec .third-sec .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.About .Forth-Sec .third-sec .container .left-div {
  background-position: center !important;
  background-size: cover !important;
  flex: 0.5;
  border-radius: unset;
}

.About .Forth-Sec .third-sec .container .right-div-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About .Forth-Sec .third-sec .container .right-div {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.About .Forth-Sec .tittle {
  font-size: 50px;
  font-family: "Rift" !important;
  font-weight: 600 !important;
  color: #16402d;
}

.About .Forth-Sec .paragraph {
  font-family: "MarkPro";
  font-weight: 300;
  color: #16402d;
}

.About .Forth-Sec .about-btn {
  background: transparent;
  border: 2px solid #16402d;
  text-decoration: none;
  outline: none;
  color: #16402d;
  font-family: "Rift";
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  letter-spacing: 1.1px;
}

.About .Forth-Sec .about-btn:hover {
  background: #16402d;
  color: #fff;
}
